<table>
    <thead class="th3">
        <tr>
            <th aria-label="Sold By">Sold By</th>
            <th class="cwObj " style="cursor:pointer;" role="columnheader" aria-sort="other" scope="col" tabindex="2">
                Price&nbsp; <span role="button" class="offer_mobile">/ Offers </span> <span class="shorting_up"
                    id="cwUpDownIcon"></span></th>
            <th aria-label=" Offers"> Offers</th>
            <th aria-label=" Buy Online"> Buy Online</th>
        </tr>
    </thead>
</table>