<div id="cwMainDivContainer" class="cw_gride_widget" style="top: 780px; /* position: absolute; */">
    <div id="main_contentdiv">
       
        {{>bin-header}} Latest

       <div>
          <div class="table_gride">
             <span id="cwRetailsTbl">
                {{>bin-retailer-head}}
                {{>bin-retailer-content}}
                {{>bin-retailer-footer}}
             </span>
          </div>
       </div>
    </div>
 </div>