<style>
   #cwMainDivContainer {
      top: 780px;
      /* position: absolute; */
   }
</style>
<div id="cwMainDivContainer" class="cw_gride_widget">
   <div id="main_contentdiv">

      {{>bin-header}}

      <div>
         <div class="table_gride">
            <span id="cwRetailsTbl">
               {{>bin-retailer-head}}
               {{>bin-retailer-content}}
               {{>bin-retailer-footer}}
            </span>
         </div>
      </div>
   </div>
</div>
<script>
   function closes(0,5){
      console.log("Close tab triggered");
   }
</script>